.wholeCart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cartProduct {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding: 0.9rem;
  background-color: var(--card-background);
}

.cartProduct-image {
  width: 30vw;
  height: 20vh;
}

.cartProduct-name {
  font-weight: bolder;
  text-align: unset;
  margin-left: 0.2rem;
}

.cartProduct-brand {
  font-weight: bold;
  text-align: unset;
  text-transform: capitalize;
  margin: 0.4rem;
}
.cartProduct-quantity {
  font-weight: bold;
  text-align: unset;
  text-transform: capitalize;
  margin: 0.4rem;
}
