:root {
  --nav-background: #2f2e41;
  --text-color: #fff;
}

.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--nav-background);
}

.nav-title {
  font-size: large;
  margin: 0.8rem 0 0 0.8rem;
  padding: 0.8rem;
  color: var(--text-color);
  font-family: "Pacifico", cursive;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.nav-list-item {
  margin-left: 0.2rem;
  padding: 0.2rem;
  margin-top: 0.8rem;
  color: var(--text-color);
}
