* {
  --nav-background: #ea910f;
}

.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--nav-background);
}

.nav-title {
  font-size: large;
  font-style: italic;
  margin: 0.8rem;
  padding: 0.8rem;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-list-item {
  margin-left: 0.2rem;
  padding: 0.2rem;
  margin-top: 0.8rem;
}
