.filter-main {
  width: 100vw;
  height: 70vh;
  margin-top: 3rem;
}

.filter-option-cont {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  justify-content: center;
  align-content: space-between;
  height: 50vh;
  width: 30vw;
}

.filter-option {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.02rem solid black;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
