:root {
  --button-background: #2f2e41;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
}

.long-cards {
  margin: 0.5rem;
  padding: 0.6rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 10rem;
  height: max-content;
}

.long-cards img {
  padding: 0.1rem;
  width: 100%;
  min-width: 10rem;
  height: 60%;
}

.card-text {
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
}
.card-text-sub {
  margin: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  font-weight: bolder;
}
.card-btn-container {
  padding: 0.2rem;
  margin: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.card-button {
  margin: 0.5rem;
  border: none;
  color: var(--button-background);
}
